

@media screen and (min-width: 1200px) {

.container {
    width: 70%;
}

.alert {
    display: block;
    color: var(--white);
    background: var(--green) url('../images/button_wave.svg') no-repeat;    ; 
    background-size: cover;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: var(--gray-dark);
}

.hamburger-mob {
    display: none;
}

header {
     display: flex;  
     text-align: left;  
     align-items: center;
     gap: 50px; 
     padding: 100px 0;  

}

header h1 {
    font-size: 4rem;
}

main .container {
display: flex;
align-items: center;
}

.box-eating {
    text-align: left;
}


.rules-container {
    display: grid;    
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    justify-content: center;
}

/* VERSION 2 */
/* 
.rules_container {
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: left;
    padding: 100px 0;
}
*/

footer .container {
display: flex;
justify-content: space-between;
align-items: center;

}








}