@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --white: #ffffff;
    --gray-light: #f5fbfc;
    --gray-dark: #08090a;
    --green: #35b8be;
    --green-dark: #1b9097;
    --green-light: #f5fbfc;
    --blue-dark: #546285;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.alert,
nav ul {
    display: none;
}

/* NAVIGATION BAR */

nav {
    display: flex; 
    padding: 20px 0;  
    justify-content: space-between;
    align-items: center; 
}

nav img {
    width: 10%;
}

.hamburger-mob svg {
    width: 100%;
    padding-right: 20px;
}

.hamburger-mob {
    background-color: var(--green-light);
}

/* HEADER INTRODUCTION */

header {
    text-align: center;
}

header div {
    margin-bottom: 100px;
}

header div h1 {
    font-size: 3rem;
    color: var(--gray-dark)
}

header div h1 span {
    color: var(--green)
}

header div p {
    color: var(--blue-dark);
    padding-bottom: 20px;
    line-height: 1.3rem;
    font-size: 1.1rem;
    font-weight: 300;
}

header .btn-green {
    text-decoration: none;
    padding: 14px 24px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 6px;
    background: var(--green) url('../images/button_wave.svg') no-repeat;
      
}

header img {
    width: 100%;
}

main .card {
    text-align: center;
    background-color: var(--gray-light);
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 50px;
  }

main .card img {
    width: 100%;
}

main .card h2 {
    font-size: 3rem;
    color: var(--green);
}
   
main .btn-green {
    text-decoration: none;
    padding: 14px 24px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 6px;
    background: var(--green) url('../images/button_wave.svg') no-repeat;
}

main div p {
    color: var(--blue-dark);
    padding-bottom: 20px;
}

main div {
    margin-bottom: 100px;
}

/* RULES */

main section h3 {
    color: var(--green);
    font-size: 2rem;
    text-align: center;
}

.rules-container {
text-align: center;
}

.rules-container div {
    margin: 50px 0 50px 0;
}

.rules-container p {
    color: var(--blue-dark);
    font-size: 0.9rem;
}

.rules-container img {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: var(--green-light);
    padding: 5px 0 5px 0;
}

footer h5 {
    color: var(--green);   
}

footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    padding: 0;
}

footer ul a {
text-decoration: none;
color: var(--blue-dark);
font-size: 0.8rem;
}
